*::-webkit-scrollbar {
    opacity: 1;
}

input:hover:not([readonly]) {
    border: .125rem solid #026cdf !important
}

input:focus:not([readonly]), select:focus:not([readonly]) {
    border-color: rgb(1, 80, 167) !important;
    box-shadow: rgb(1, 80, 167) 0px 0px 4px 0px inset !important;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
    min-height: 0 !important;
    height: 2.5rem !important;
}

.form-floating > #timer,
.form-floating > #showPassword {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem .75rem;
}

.bg-back:hover {
    background-color: #D6E7FA
}

.fs-8 {
    font-size: .44rem
}