@model OrderDetail

<!-- seat -->
<section class="my-3 p-3 border">
    <img src="https://cdn3.iconfinder.com/data/icons/outline-location-icon-set/64/Cinema_ticket_1-1024.png"
         width="20">
    <span class="fw-semibold badge text-dark fs-7">@Model.EventSeat</span>
</section>