@using TicketMonster.Web.ViewModels.User.DTOs;
@model EmailVerificationDTO

@{
    ViewData["Title"] = "ForgotPassword_Verification";
}

@section topCSS{
    <link href="~/css/access/access.css" rel="stylesheet" asp-append-version="true" />
}

@section endJS{
    @Html.Raw(ViewBag.ToastrMessage)
    <script src="~/js/access/timer.js" asp-append-version="true"></script>
}

<article class="col-lg-9 d-flex border rounded shadow m-auto gap-2 vh-100 position-relative">
    <img src="https://auth.ticketmaster.com/static/en-us/images/left-panel-image.png" class="d-none d-lg-block rounded-start" />

    <section class="flex-grow-1 overflow-auto p-4">
        <small class="badge text-body-tertiary px-0">Step 2 of 3</small>
        <h2 class="fs-4 fw-semibold mb-4">Reset Password</h2>
        <span class="small">A one-time code has been sent to <strong class="fs-6">@Model?.Email</strong><br>Enter your code below to continue.</span>
        <form asp-action="ForgotPassword_Verification" method="post">
            <!-- Email -->
            <input type="hidden" asp-for="Email" />
            <!-- VerificationCode -->
            <div class="form-group col-12 form-floating flex-grow-1 my-4" id="app">
                <input asp-for="VerificationCode" class="form-control rounded-1" placeholder="Verification Code" id="VerificationCode" v-model.trim="verificationCode" maxlength="6" required />
                <label asp-for="VerificationCode" class="control-label text-body-tertiary small pt-2 h-25" for="Email">Verification Code</label>
                <span asp-validation-for="VerificationCode" class="text-danger text-start text-wrap badge"></span>
                <small class="btn badge text-primary border-0" id="timer">{{time}}</small>
            </div>
            <div class="d-flex justify-content-around justify-content-md-end gap-3">
                <button type="button" class="btn badge text-primary rounded-1 border-0 fw-bold my-2 p-2 col-md-2 col-xl-3 flex-grow-1 flex-md-grow-0 flex-lg-grow-1 flex-xl-grow-0 bg-back" onclick="window.history.back()">Back</button>
                <button type="submit" class="btn badge btn-primary rounded-1 my-2 p-2 col-md-2 col-xl-3 flex-grow-1 flex-md-grow-0 flex-lg-grow-1 flex-xl-grow-0">Next</button>
            </div>
        </form>
    </section>
</article>