@using TicketMonster.Web.ViewModels.User.DTOs;
@model EmailVerificationDTO

@{
    ViewData["Title"] = "ForgotPassword_Email";
}

@section topCSS{
    <link href="~/css/access/access.css" rel="stylesheet" asp-append-version="true" />
}

<article class="col-lg-9 d-flex border rounded shadow m-auto gap-2 vh-100">
    <img src="https://auth.ticketmaster.com/static/en-us/images/left-panel-image.png" class="d-none d-lg-block rounded-start" />

    <section class="flex-grow-1 overflow-auto p-4">
        <small class="badge text-body-tertiary px-0">Step 1 of 3</small>
        <h2 class="fs-4 fw-semibold mb-4">Reset Password</h2>
        <span class="small">Need a new password? Let's get you a new one. Enter your email below to continue.</span>
        <form asp-action="ForgotPassword_Email" method="post">
            <!-- Email -->
            <div class="form-group col-12 form-floating flex-grow-1 my-4">
                <input asp-for="Email" class="form-control fw-semibold" placeholder="Email Address" id="Email" type="email" required/>
                <label asp-for="Email" class="control-label small pt-2 h-25" for="Email">Email Address</label>
                <span asp-validation-for="Email" class="text-danger badge"></span>
            </div>
           <div class="d-flex justify-content-around justify-content-md-end gap-3">
                <a asp-action="SignIn" class="btn badge text-primary rounded-1 border-0 fw-bold my-2 p-2 col-1 col-md-2 col-xl-3 flex-grow-1 flex-md-grow-0 flex-lg-grow-1 flex-xl-grow-0 bg-back">Back to Sign in</a>
                <button type="submit" class="btn badge btn-primary rounded-1 my-2 p-2 col-1 col-md-2 col-xl-3 flex-grow-1 flex-md-grow-0 flex-lg-grow-1 flex-xl-grow-0" onclick=" sessionStorage.setItem('timer', '300'.toString())">Next</button>
           </div>
        </form>
    </section>
</article>