@using TicketMonster.Web.ViewModels.User.DTOs;
@model RenewPasswordDTO

@{
    ViewData["Title"] = "RenewPassword";
    ViewBag.Navbar = true;
}

@section topCSS{
    <link href="~/css/user/accountsettings.css" rel="stylesheet" asp-append-version="true" />
}

@section endJS{
    <script>sessionStorage.setItem('hashPassword', '@Model.CurrentPassword')</script>
    <script src="~/js/user/password.js" asp-append-version="true"></script>
}

<article class="container my-5 pt-5">
    <section class="col-md-8 col-lg-5 border rounded shadow-sm m-auto px-4 py-5">
        <form asp-action="RenewPassword" method="post" id="app" v-cloak>
            <!--NewPassword-->
            <section class="d-flex flex-column gap-3">
                <h3 class="fs-5 fw-semibold">Change Password</h3>
                <div class="form-group col-12 form-floating flex-grow-1">
                    <input asp-for="NewPassword" class="form-control rounded-1 pe-5" placeholder="New Password" id="newPassword"
                           :type="showNewPassword ? 'text' : 'password'" required />
                    <label asp-for="NewPassword" class="control-label text-body-tertiary small pt-2 h-25" for="newPassword">New Password</label>
                    <small class="btn badge text-primary border-0" id="showPassword" @@click="newPasswordVisibility()">{{ showNewPassword ? 'Hide' : 'Show' }}</small>
                    <span asp-validation-for="NewPassword" class="text-danger text-start text-wrap badge"></span>
                </div>
                <div class="form-group col-12 form-floating flex-grow-1">
                    <input asp-for="RetypeNewPassword" class="form-control rounded-1 pe-5" placeholder="Re-type New Password" id="retypePassword"
                           :type="showRetypePassword ? 'text' : 'password'" required />
                    <label asp-for="RetypeNewPassword" class="control-label text-body-tertiary small pt-2 h-25" for="retypePassword">Re-type New Password</label>
                    <small class="btn badge text-primary border-0" id="showPassword" @@click="retypePasswordVisibility()">{{ showRetypePassword ? 'Hide' : 'Show' }}</small>
                    <span asp-validation-for="RetypeNewPassword" class="text-danger  text-start text-wrap badge"></span>
                </div>
                <div asp-validation-summary="All" class="text-danger text-start text-wrap fw-semibold badge mt-2"></div>
                <input type="submit" value="Update Password" class="btn btn-primary rounded-1 fs-7" />
                <a asp-action="Account" class="btn btn-secondary rounded-1 fs-7">Cancel</a>
            </section>
        </form>
    </section>
</article>